<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>明細</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>

    <ion-row row-auto><strong>名稱:</strong><input [(ngModel)]="this.api.getCurrentTask().title" placeholder="title">
    </ion-row>

    <ion-row row-auto><strong>日期:</strong><label id = "st">{{ this.api.getCurrentTask().date.substr(0,10) }}</label>
    </ion-row>

    <ion-row row-auto><strong>更变日期:</strong><input [(ngModel)]="this.api.getCurrentTask().date" type="date"/>
    </ion-row>

    <ion-row row-auto><strong>內容:</strong><input [(ngModel)]="this.api.getCurrentTask().description" placeholder="id">
    </ion-row>

    <ion-button (click) = "updateButton()" color = "secondary" class="button button-full button-positive">update</ion-button>

    <ion-button (click) = "cancelButton()" color = "secondary" class="button button-full button-positive">cancel</ion-button>

  </ion-col>
</ion-content>
