ion-row{
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #dedede;
}

strong {
    font-family: sans-serif;
    text-indent:30px;
    font-size: 24px;
}

#st {
    font-family: sans-serif;
    font-size: 24px;
    text-indent:5px;
}

#tips{
    color : "danger";
    text-indent:30px;
}
